<section class="header">
  <div class="container">
    <div class="header-content">
      <h1>
        Your One Stop For Total Control Over Your Instagram Account
      </h1>
      <ul class="list-unstyled">
        <li>
          <img src="../../../../assets/images/check.png" alt="Agora Monitor">
          <h6>Valuable analytics</h6>
        </li>
        <li>
          <img src="../../../../assets/images/check.png" alt="Agora Monitor">
          <h6>Manage multiple accounts at once</h6>
        </li>
        <li>
          <img src="../../../../assets/images/check.png" alt="Agora Monitor">
          <h6>Create custom feeds</h6>
        </li>
        <li>
          <img src="../../../../assets/images/check.png" alt="Agora Monitor">
          <h6>Filter feeds</h6>
        </li>
      </ul>
      <div class="header-actions">
        <a href="#fetur" class="agora-btn colord">Find out more</a>
        <a routerLink="/register" class="agora-btn">Start free trial</a>
      </div>
    </div>
    <!-- end header content -->
    <div class="header-caption hidden-xs hidden-sm">
      <p>Set up in minutes. 15-Day Free Trial. No Credit Card Required.</p>
    </div>
    <!-- end header-caption -->
  </div>
  <!-- end container -->
</section>
<!-- end header section -->


<!-- start features section -->
<section class="features" id="fetur">
  <div class="container">
    <h3>AgoraMonitor Features</h3>
    <h2 class="h1">Analytics & Insights</h2>
    <div class="features-content">
      <div class="features-content-analytics">
        <div class="row">
          <div class="col-lg-6 col-12">
            <div class="analytics-chart">
              <img src="../../../../assets/images/agora-charts.png" alt="Agora Monitor">
            </div>
          </div>
          <div class="col-lg-6 col-12">
            <div class="analytics-details">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae enim eros. Aenean eros libero, condimentum vel facilisis
                in, egestas eu velit. Cras pharetra a metus vel lobortis.
              </p>
              <ul class="list-unstyled">
                <li>
                  <img src="../../../../assets/images/check-gray.svg" alt="Agora Monitor"> Followers & Followings Growth
                </li>
                <li>
                  <img src="../../../../assets/images/check-gray.svg" alt="Agora Monitor"> Gained & lost Followers
                </li>
                <li>
                  <img src="../../../../assets/images/check-gray.svg" alt="Agora Monitor"> Likes History
                </li>
                <li>
                  <img src="../../../../assets/images/check-gray.svg" alt="Agora Monitor"> Comments History
                </li>
              </ul>
              <p>
                Nulla turpis leo, consectetur sed lectus eu, ornare fermentum est. Praesent nibh erat, scelerisque quis laoreet et, sodales
                quis tortor.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- end features-content-analytics -->
      <div class="features-content-insights">
        <div class="overlay"></div>
        <div class="row">
          <div class="col-lg-4 col-md-6 hidden-sm-down">
            <img src="../../../../assets/images/Gained.png" alt="Agora Monitor">
          </div>
          <div class="col-lg-4 col-md-6 hidden-sm-down">
            <img src="../../../../assets/images/Lost.png" alt="Agora Monitor">
          </div>
          <div class="col-lg-4 col-md-6 hidden-sm-down">
            <img src="../../../../assets/images/Growth.png" alt="Agora Monitor">
          </div>
          <div class="col-lg-4 col-md-6 hidden-sm-down">
            <img src="../../../../assets/images/Media.png" alt="Agora Monitor">
          </div>
          <div class="col-lg-4 col-md-6 hidden-sm-down">
            <img src="../../../../assets/images/Likes.png" alt="Agora Monitor">
          </div>
          <div class="col-lg-4 col-md-6 hidden-sm-down">
            <img src="../../../../assets/images/Comments.png" alt="Agora Monitor">
          </div>
        </div>
      </div>
      <!-- end features-content-insights -->
    </div>
    <!-- end features-content -->
  </div>
</section>
<!-- end features section-->


<!-- start feeds section -->
<section class="feeds">
  <div class="container">
    <div class="row">
<div class="col-lg-6 col-12 feeds-pics-wrapper">

        <div class="feeds-pics">
          <div class="row">
            <div class="col-xs-6 col-sm-6">
              <img src="../../../../assets/images/Post1.png" alt="Agora Monitor">
            </div>
            <div class="col-xs-6 col-sm-6">
              <img src="../../../../assets/images/Post2.png" alt="Agora Monitor">
            </div>
            <div class="col-xs-6 col-sm-6">
              <img src="../../../../assets/images/Post3.png" alt="Agora Monitor">
            </div>
            <div class="col-xs-6 col-sm-6">
              <img class="m-t-65" src="../../../../assets/images/Post4.png" alt="Agora Monitor">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-12">
        <div class="feeds-details">
          <div class="feeds-details-content">
            <h2>
              Custom Feeds
            </h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae enim eros. Aenean eros libero, condimentum vel facilisis
              in, egestas eu velit. Cras pharetra a metus vel lobortis.
            </p>
            <p>
              Nulla turpis leo, consectetur sed lectus eu, ornare fermentum est. Praesent nibh erat, scelerisque quis laoreet et, sodales
              quis tortor.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end feeds section -->

<!-- start profiles section -->
<section class="profiles">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-5 col-md-6 col-sm-7 col-8 offset-md-2 offset-sm-1 offset-lg-3 offset-0">
        <div class="profiles-text">
          <h2>Multiple Instagram Accounts</h2>
          <p>You can add up to X Instagram accounts and manage all of them in one place. Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Morbi vitae enim eros. Aenean eros libero, condimentum vel facilisis in, egestas eu velit. Cras
            pharetra a metus vel lobortis.
          </p>
        </div>
      </div>
      <div class="col-sm-4 col-4">
        <img src="../../../../assets/images/instagram-profiles.png" alt="Agora Monitor">
      </div>
      <hr/>
    </div>
  </div>
</section>
<!-- end profiles section -->

<!-- start search-content section -->
<section class="search-content">
  <div class="container">
    <h2>Search and filter your content</h2>
    <div class="controls">
      <div class="row">
        <div class="col-sm-12">
          <div class="filters-area">
            <div class="filters-search filters-box">
              <label>
                <img src="../../../../assets/images/search.svg" alt="Agora Monitor"> Search:
              </label>
              <input type="text">
            </div>
            <div class="filters-numbers filters-box">
              <label>
                <img src="../../../../assets/images/icon-likes.svg" alt="Agora Monitor">
                 than: </label>
                  <input type="number">
            </div>
            <div class="filters-numbers filters-box">
              <label>
                <img src="../../../../assets/images/icon-likes.svg" alt="Agora Monitor">
                 than: </label>
                  <input type="number">
            </div>
            <div class="filters-numbers filters-box">
              <label>
                <img src="../../../../assets/images/icon-comments.svg" alt="Agora Monitor">
                 than: </label>
                  <input type="number">
            </div>
            <div class="filters-numbers filters-box">
              <label>
                <img src="../../../../assets/images/icon-comments.svg" alt="Agora Monitor">
                 than: </label>
                  <input type="number">
            </div>
            <div class="sortby filters-box">
              <label class="text">Sort posts by:</label>
              <label class="sorting">
                <input id="filter-by-likes" name="Sort-by" type="radio">
                <span class="custom-control-description">Likes</span>
              </label>
              <label class="sorting">
                <input id="filter-by-comments" name="Sort-by" type="radio" class="" checked>
                <span class="custom-control-description">Comments</span>
              </label>
            </div>
          </div>
          <!-- end filters-area -->
        </div>
      </div>
    </div>
    <!-- end controls -->
    <div class="content-imgs">
      <div class="overlay"></div>
      <div class="row">
        <div class="col-md-3 col-sm-6 col-12">
          <img src="../../../../assets/images/searchpost1.png" alt="Agora Monitor">
        </div>
        <div class="col-md-3 col-sm-6 col-12">
          <img src="../../../../assets/images/searchpost2.png" alt="Agora Monitor">
        </div>
        <div class="col-md-3 col-sm-6 col-12">
          <img src="../../../../assets/images/searchpost3.png" alt="Agora Monitor">
        </div>
        <div class="col-md-3 col-sm-6 col-12">
          <img src="../../../../assets/images/searchpost4.png" alt="Agora Monitor">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end search-content section -->

<!-- start faq section -->
<section class="faq">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-12">
        <div class="faq-title">
          <h2>FAQ</h2>
        </div>
      </div>
      <div class="col-lg-8 col-12">
        <div class="faq-content">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#all" role="tab" aria-controls="all">All</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#account" role="tab" aria-controls="account">Account</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#feed" role="tab" aria-controls="feed">Feed</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#relationships" role="tab" aria-controls="relationships">Relationships and users</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#billing" role="tab" aria-controls="billing">Billing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#subscription" role="tab" aria-controls="subscription">Subscription</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade show active" id="all" role="tabpanel">
              <div class="faq-question-answer">
                <p class="question">
                  <i class="fa fa-caret-down" aria-hidden="true"></i>
                  <i class="fa fa-caret-up" aria-hidden="true"></i>
                  <span>How many Instagram accounts I can add to my AgoraMonitor account?</span>
                </p>
                <p class="answer">
                  <span>You can add up to 6 different accounts.</span>
                </p>
              </div>
              <div class="faq-question-answer">
                <p class="question">
                  <i class="fa fa-caret-down" aria-hidden="true"></i>
                  <i class="fa fa-caret-up" aria-hidden="true"></i>
                  <span>Can I change my default account?</span>
                </p>
                <p class="answer">
                  <span>Yes, you can, from the ‘Manage Accounts’ tab you will be able to set any of your accounts as default.</span>
                  
                </p>
              </div>
              <div class="faq-question-answer">
                <p class="question">
                  <i class="fa fa-caret-down" aria-hidden="true"></i>
                  <i class="fa fa-caret-up" aria-hidden="true"></i>
                  <span>What Instagram content I can search on AgoraMonitor?</span>
                </p>
                <p class="answer">
                  <span>
                    Currently, you can search Instagram users and hashtags. Soon you will be able to search Instagram posts in specific location.</span>
                </p>
              </div>
              <div class="faq-question-answer">
                <p class="question">
                  <i class="fa fa-caret-down" aria-hidden="true"></i>
                  <i class="fa fa-caret-up" aria-hidden="true"></i>
                <span>What type of feeds can I create?</span>

                </p>
                <p class="answer">
                  <span>
                    Currently, you can search Instagram users and hashtags. Soon you will be able to search Instagram posts in specific location.</span>
                </p>
              </div>
              <div class="faq-question-answer">
                <p class="question">
                  <i class="fa fa-caret-down" aria-hidden="true"></i>
                  <i class="fa fa-caret-up" aria-hidden="true"></i>
                  <span>How many feeds can I create?</span>


                </p>
                <p class="answer">
                  <span>
                    Currently, you can search Instagram users and hashtags. Soon you will be able to search Instagram posts in specific location.</span>
                </p>
              </div>
              
              <div class="faq-question-answer">
                <p class="question">
                  <i class="fa fa-caret-down" aria-hidden="true"></i>
                  <i class="fa fa-caret-up" aria-hidden="true"></i>
<span>How many followings can I add to my followings feed?</span>



                </p>
                <p class="answer">
                  <span>
                    Currently, you can search Instagram users and hashtags. Soon you will be able to search Instagram posts in specific location.</span>
                </p>
              </div>
              
              <div class="show-more-section">
                <button class="agora-btn">Show more</button>
              </div>
            </div>
            <div class="tab-pane fade" id="account" role="tabpanel">
              profile
            </div>
            <div class="tab-pane fade" id="feed" role="tabpanel">
              messages
            </div>
            <div class="tab-pane fade" id="relationships" role="tabpanel">
              relationships
            </div>
            <div class="tab-pane fade" id="billing" role="tabpanel">
              billing
            </div>
            <div class="tab-pane fade" id="subscription" role="tabpanel">
              subscription
            </div>
          </div>
        </div>
        <!-- end faq-content -->
      </div>
    </div>
  </div>
</section>
<!-- end faq section -->

<!-- start section join-us -->
<section class="join-us">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="offset-md-7 offset-sm-2 col-md-5 col-sm-8">
        <div class="join-us-content">
          <h4>Start Your Free Trial Today</h4>
          <p>AgoraMonitor is Completely Free for 15 days.</p>
          <div class="price">
            <span class="dollar">$</span>
            <span class="zero">0</span>
          </div>
          <button class="agora-btn" routerLink="/register">Start Free Trial</button>
          <span class="no-credit">No Credit Card Required.</span>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end section join-us -->
