<section class="privacy">
  <div class="container">
    <h1>Privacy Policy</h1>
    <div class="privacy-content">
      <p>
        This privacy policy discloses the privacy practices for
        <b>agoramonitor.com</b>.By using or accessing the website, you expressly consent to our collection, storage, use and
        disclosure of your personal information as described in this Privacy Policy.
      </p>
      <div class="privacy-section">
        <h5>1. Information collection, use and sharing:</h5>
        <ul class="list-unstyled">
          <li>
            <span>1.</span> We collect the following personally identifiable information:
            <ul class="">
              <li>
                We store your email address if you authorize us to do so by providing us with your email address on the settings page of
                the website at https://staging.agoramonitor.com/<br class="hidden-md hidden-lg">user/settings.
              </li>
              <li>
                Your Instagram account details are limited to Instagram account ID, Username, Name, Profile Picture URL, Website and Bio.
                We make sure that we keep all these details up to date with your Instagram account.
              </li>
            </ul>
          </li>
          <li>
            <span>2.</span> If you are a registered user on the website, We provide you with tools and account settings to access
            and modify your personally identifiable information you provided to us and associated with your account. For
            example, you may access and update your email address and your time zone.
          </li>
          <li>
            <span>3.</span> We use your personal information only for providing you with better services on the website. We will
            not share your information with any third party outside of our organization.
          </li>
          <li>
            <span>4.</span> Unless you ask us not to, we may contact you via email in the future to tell you about specials, new
            products or services.
          </li>
        </ul>
      </div>
      <!-- end privacy-section -->
      <div class="privacy-section">
        <h5>2. Security</h5>
        <ul class="list-unstyled">
          <li>
            <span>1.</span> We collect the following personally identifiable information:
          </li>
          <li>
            <span>2.</span> If you are a registered user on the website, We provide you with tools and account settings to access
            and modify your personally identifiable information you provided to us and associated with your account. For
            example, you may access and update your email address and your time zone.
          </li>
          <li>
            <span>3.</span> We use your personal information only for providing you with better services on the website. We will
            not share your information with any third party outside of our organization.
          </li>
          <li>
            <span>4.</span> Unless you ask us not to, we may contact you via email in the future to tell you about specials, new
            products or services.
          </li>
        </ul>
      </div>
      <!-- end privacy-section -->
    </div>
    <!-- end privacy-content -->
  </div>
  <!-- end container -->
</section>