$main-color:#59B478;
$primary-color:#696969;
$gray-color:#999999;
$orange-color:#FFBD23;
body {
    font-family: 'Raleway', sans-serif;
    color: $primary-color;
}

h2,
h3 {
    font-weight: bold;
}

.no-decoration {
    &:hover,
    &:focus {
        text-decoration: none;
    }
}

.agora-btn {
    border-radius: 3px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    color: $primary-color;
    font-family: Raleway;
    font-size: 15px;
    font-weight: 600;
    padding: 13px 30px;
    border: none;
    outline: none;
    &:hover {
        text-decoration: none;
        color: $primary-color;
    }
}

.colord {
    background-color: $main-color;
    color: #fff;
    &:hover {
        color: #fff;
    }
}

@media(min-width: 991px) {
    .hidden-md {
        display: none;
    }
}

@media(min-width: 1200px) {
    .hidden-md {
        display: none;
    }
}


/* start privacy section */

.privacy {
    margin-top: 50px;
    padding: 80px 0;
    background-color: #F6F6F6;
    text-align: center;
    h1 {
        font-weight: 300;
        @media(max-width: 767px) {
            font-size: 1.8rem;
            font-weight: 500;
        }
    }
    .privacy-content {
        margin: 40px auto;
        padding: 60px 80px;
        background-color: #fff;
        width: 85%;
        border-radius: 3px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
        text-align: left;
        @media(max-width: 991px) {
            width:100%;
            padding: 60px;
        }
        @media(max-width:767px) {
            padding: 50px 25px;
        }
        @media(max-width:576px) {
            padding: 40px 15px;
        }
        p,
        h5,
        li {
            font-size: 15px;
            line-height: 1.7;
        }
        .privacy-section {
            margin: 45px 0;
            h5 {
                font-size: 16px;
                font-weight: 700;
            }
            ul {
                padding-left: 20px;
                li {
                    margin-bottom: 15px;
                    ul {
                        padding-left: 35px;
                        list-style-type: disc;
                    }
                    span {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}


/* end privacy section */