      <!-- start plans section -->
        <section class="plans">
            <div class="container">
                <h2>Choose the best plan</h2>
                <h3>Upgrade, downgrade and cancel anytime</h3>
                <div class="plans-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="accordion" class="hidden-md-up" role="tablist" aria-multiselectable="true">
                                <div class="card">
                                    <div class="card-header" role="tab" id="headingOne">
                                        <div class="title">
                                            <h4>Starter</h4>
                                            <p>$3.59/MO</p>
                                            <a href="" class="agora-btn">Buy it</a>
                                        </div>
                                        <h5 class="mb-0">
                                            <span>3 Instagram Accounts</span>
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                See more
                                                <i class="fa fa-caret-up" aria-hidden="true"></i>                                                
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="card-block">
                                            <h5>ANALYTICS</h5>
                                            <p>
                                                Custom followings feed
                                                <img src="../../../../assets/../../../../assets/images/info.svg" alt="Agora Monitor">
                                                <img src="../../../../assets/../../../../assets/images/check.png">
                                            </p>
                                            <p>
                                                Custom hashtags feed
                                                <img src="../../../../assets/images/info.svg" alt="Agora Monitor">
                                                <img src="../../../../assets/images/check.png">
                                            </p>
                                            <p class="w-202">
                                                Receive frequent email updates from your feeds 
                                                <img class="invisible" src="../../../../assets/images/info.svg" alt="Agora Monitor">                                                   
                                                <img class="po-ab" src="../../../../assets/images/check.png">
                                            </p>
                                            <p>
                                                Engage your followers
                                                <img src="../../../../assets/images/info.svg" alt="Agora Monitor">
                                                <img src="../../../../assets/images/check.png">
                                            </p>
                                            <p>
                                                View your followers and followings list
                                                <img src="../../../../assets/images/info.svg" alt="Agora Monitor">
                                                <img src="../../../../assets/images/check.png">
                                            </p>
                                            <p>
                                                Access your liked posts
                                                <img src="../../../../assets/images/info.svg" alt="Agora Monitor">
                                                <img src="../../../../assets/images/check.png">
                                            </p>
                                            <h5>COMMENT TRACKER</h5>
                                            <p>
                                                Follow / Unfollow Users                                                    
                                                <img class="invisible" src="../../../../assets/images/info.svg" alt="Agora Monitor">
                                                <img src="../../../../assets/images/check.png">
                                            </p>
                                            <p>
                                                Approve / Decline Follow Requests                                                    
                                                <img class="invisible" src="../../../../assets/images/info.svg" alt="Agora Monitor">
                                                <img src="../../../../assets/images/check.png">
                                            </p>
                                            <div class="buyIt">
                                                <a href="" class="agora-btn">Buy it</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" role="tab" id="headingTwo">
                                            <div class="title">
                                                <h4>Starter</h4>
                                                <p>$3.59/MO</p>
                                                <a href="" class="agora-btn">Buy it</a>
                                            </div>
                                            <h5 class="mb-0">
                                                <span>3 Instagram Accounts</span>
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                                    See more
                                                    <i class="fa fa-caret-up" aria-hidden="true"></i>                                                
                                                </a>
                                            </h5>
                                    </div>
                                    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                        <div class="card-block">
                                            <h5>ANALYTICS</h5>
                                            <p>
                                                Custom followings feed
                                                <img src="../../../../assets/images/info.svg" alt="Agora Monitor">
                                                <img src="../../../../assets/images/check.png">
                                            </p>
                                            <p>
                                                Custom hashtags feed
                                                <img src="../../../../assets/images/info.svg" alt="Agora Monitor">
                                                <img src="../../../../assets/images/check.png">
                                            </p>
                                            <p class="w-202">
                                                Receive frequent email updates from your feeds
                                                <img class="invisible" src="../../../../assets/images/info.svg" alt="Agora Monitor">
                                                <img class="po-ab" src="../../../../assets/images/check.png">
                                            </p>
                                            <p>
                                                Engage your followers
                                                <img src="../../../../assets/images/info.svg" alt="Agora Monitor">
                                                <img src="../../../../assets/images/check.png">
                                            </p>
                                            <p>
                                                View your followers and followings list
                                                <img src="../../../../assets/images/info.svg" alt="Agora Monitor">
                                                <img src="../../../../assets/images/check.png">
                                            </p>
                                            <p>
                                                Access your liked posts
                                                <img src="../../../../assets/images/info.svg" alt="Agora Monitor">
                                                <img src="../../../../assets/images/check.png">
                                            </p>
                                            <h5>COMMENT TRACKER</h5>
                                            <p>
                                                Follow / Unfollow Users                                                    
                                                <img class="invisible" src="../../../../assets/images/info.svg" alt="Agora Monitor">
                                                <img src="../../../../assets/images/check.png">
                                            </p>
                                            <p>
                                                Approve / Decline Follow Requests                                                    
                                                <img class="invisible" src="../../../../assets/images/info.svg" alt="Agora Monitor">
                                                <img src="../../../../assets/images/check.png">
                                            </p>
                                            <div class="buyIt">
                                                <a href="" class="agora-btn">Buy it</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" role="tab" id="headingThree">
                                        <div class="title">
                                            <h4>Starter</h4>
                                            <p>$3.59/MO</p>
                                            <a href="" class="agora-btn">Buy it</a>
                                        </div>
                                        <h5 class="mb-0">
                                            <span>3 Instagram Accounts</span>
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                                See more
                                                <i class="fa fa-caret-up" aria-hidden="true"></i>                                                
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                        <div class="card-block">
                                            <h5>ANALYTICS</h5>
                                            <p>
                                                Custom followings feed
                                                <img src="../../../../assets/images/info.svg" alt="Agora Monitor">
                                                <img src="../../../../assets/images/check.png">
                                            </p>
                                            <p>
                                                Custom hashtags feed
                                                <img src="../../../../assets/images/info.svg" alt="Agora Monitor">
                                                <img src="../../../../assets/images/check.png">
                                            </p>
                                            <p class="w-202">
                                                Receive frequent email updates from your feeds
                                                <img class="invisible" src="../../../../assets/images/info.svg" alt="Agora Monitor">
                                                <img class="po-ab" src="../../../../assets/images/check.png">
                                            </p>
                                            <p>
                                                Engage your followers
                                                <img src="../../../../assets/images/info.svg" alt="Agora Monitor">
                                                <img src="../../../../assets/images/check.png">
                                            </p>
                                            <p>
                                                View your followers and followings list
                                                <img src="../../../../assets/images/info.svg" alt="Agora Monitor">
                                                <img src="../../../../assets/images/check.png">
                                            </p>
                                            <p>
                                                Access your liked posts
                                                <img src="../../../../assets/images/info.svg" alt="Agora Monitor">
                                                <img src="../../../../assets/images/check.png">
                                            </p>
                                            <h5>COMMENT TRACKER</h5>
                                            <p>
                                                Follow / Unfollow Users                                                    
                                                <img class="invisible" src="../../../../assets/images/info.svg" alt="Agora Monitor">
                                                <img src="../../../../assets/images/check.png">
                                            </p>
                                            <p>
                                                Approve / Decline Follow Requests                                                    
                                                <img class="invisible" src="../../../../assets/images/info.svg" alt="Agora Monitor">
                                                <img src="../../../../assets/images/check.png">
                                            </p>
                                            <div class="buyIt">
                                                <a href="" class="agora-btn">Buy it</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="plans-table hidden-sm-down">
                                <table>
                                    <thead>
                                        <tr>
                                            <td>

                                            </td>
                                            <td>
                                                <h4>Starter</h4>
                                                <p>$3.59/MO</p>
                                            </td>
                                            <td>
                                                <h4>Basic</h4>
                                                <p>$6.59/MO</p>
                                            </td>
                                            <td>
                                                <h4>Enterprise</h4>
                                                <p>$99.99/MO</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>

                                            </td>
                                            <td>3 Instagram Accounts</td>
                                            <td>6 Instagram Accounts</td>
                                            <td>∞ Instagram Accounts</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <h5>ANALYTICS</h5>
                                                <p>
                                                    Custom followings feed
                                                    <img src="../../../../assets/images/info.svg" alt="Agora Monitor">
                                                </p>
                                            </td>
                                            <td><img src="../../../../assets/images/check.png"></td>
                                            <td><img src="../../../../assets/images/check.png"></td>
                                            <td><img src="../../../../assets/images/check.png"></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>
                                                    Custom hashtags feed
                                                    <img src="../../../../assets/images/info.svg" alt="Agora Monitor">
                                                </p>
                                            </td>
                                            <td><img src="../../../../assets/images/check.png"></td>
                                            <td><img src="../../../../assets/images/check.png"></td>
                                            <td><img src="../../../../assets/images/check.png"></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>
                                                    Receive frequent email updates from your feeds
                                                </p>
                                            </td>
                                            <td><img src="../../../../assets/images/check.png"></td>
                                            <td><img src="../../../../assets/images/check.png"></td>
                                            <td><img src="../../../../assets/images/check.png"></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>
                                                    Engage your followers
                                                    <img src="../../../../assets/images/info.svg" alt="Agora Monitor">
                                                </p>
                                            </td>
                                            <td><img src="../../../../assets/images/check.png"></td>
                                            <td><img src="../../../../assets/images/check.png"></td>
                                            <td><img src="../../../../assets/images/check.png"></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>
                                                    View your followers and followings list
                                                    <img src="../../../../assets/images/info.svg" alt="Agora Monitor">
                                                </p>
                                            </td>
                                            <td><img src="../../../../assets/images/check.png"></td>
                                            <td><img src="../../../../assets/images/check.png"></td>
                                            <td><img src="../../../../assets/images/check.png"></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>
                                                    Access your liked posts
                                                    <img src="../../../../assets/images/info.svg" alt="Agora Monitor">
                                                </p>
                                            </td>
                                            <td> </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h5>COMMENT TRACKER</h5>
                                                <p>
                                                    Follow / Unfollow Users                                                        
                                                </p>
                                            </td>
                                            <td><img src="../../../../assets/images/check.png"></td>
                                            <td><img src="../../../../assets/images/check.png"></td>
                                            <td><img src="../../../../assets/images/check.png"></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>
                                                    Approve / Decline Follow Requests                                                        
                                                </p>
                                            </td>
                                            <td></td>
                                            <td><img src="../../../../assets/images/check.png"></td>
                                            <td><img src="../../../../assets/images/check.png"></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>
                                                    Search and discover Instagram users                                                        
                                                </p>
                                            </td>
                                            <td> </td>
                                            <td></td>
                                            <td><img src="../../../../assets/images/check.png"></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>
                                                    Search for hashtags and browse posts by hashtag                                                        
                                                </p>
                                            </td>
                                            <td> </td>
                                            <td></td>
                                            <td><img src="../../../../assets/images/check.png"></td>
                                        </tr>
                                        <tr class="actions">
                                            <td></td>
                                            <td><a routerLink="/register" class="agora-btn">Buy it</a></td>
                                            <td><a routerLink="/register" class="agora-btn">Buy it</a></td>
                                            <td><a routerLink="/register" class="agora-btn">Buy it</a></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td colspan="3">
                                                <p>All prices in USD. Payments accepted with Credit Cards (Discover Card, American Express, Visa Card, MasterCard).</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- end plans-table -->
                        </div>
                    </div>
                </div>
                <!-- end plans-content -->
            </div>
            <!-- end container -->
        </section>