$main-color:#59B478;
$primary-color:#696969;
$gray-color:#999999;
$orange-color:#FFBD23;
body {
    font-family: 'Raleway', sans-serif;
    color: $primary-color;
}

h2,
h3 {
    font-weight: bold;
}

.no-decoration {
    &:hover,
    &:focus {
        text-decoration: none;
    }
}

.agora-btn {
    border-radius: 3px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    color: $primary-color;
    font-family: Raleway;
    font-size: 15px;
    font-weight: 600;
    padding: 13px 30px;
    border: none;
    outline: none;
    &:hover {
        text-decoration: none;
        color: $primary-color;
    }
}

.colord {
    background-color: $main-color;
    color: #fff;
    &:hover {
        color: #fff;
    }
}


/* start contant section */

.login {
    margin-top: 50px;
    padding: 80px 0;
    background-color: #F6F6F6;
    text-align: center;
    background-image: url('../../../../assets/images/body-feeds.jpg');
    background-size: cover;
    @media(max-width: 576px) {
        padding: 45px 0 0;
    }
    .container {
        @media(max-width: 576px) {
            padding-right:0;
            padding-left: 0
        }
    }
    h1 {
        color: #fff;
        font-weight: bold;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        @media(max-width: 767px) {
            font-size:1.6rem;
        }
    }
    .login-form {
        margin: 50px auto;
        padding: 60px 80px;
        background-color: #fff;
        width: 50%;
        border-radius: 3px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
        text-align: left;
        border-bottom: 4px solid $main-color;
        position: relative;
        @media(max-width: 991px) {
            width:75%;
        }
        @media(max-width:767px) {
            width: 95%;
        }
        @media(max-width:576px) {
            width: 100%;
            border-radius: 0;
            padding: 50px 30px;
        }
        .overlay {
            background-image: url('../../../../assets/images/ornament.png');
            background-size: 100% 100%;
            position: absolute;
            bottom: 5px;
            height: 55px;
            width: 96%;
            right: 2%;
            left: 2%;
        }
        .form-group {
            &.submit,
            &.remember-me {
                text-align: center;
            }
            &.remember-me {
                margin-top: 20px;
                padding-top: 10px;
                border-top: 1px solid #EAEAEA;
                label {
                    font-size: 13px;
                    font-weight: 500;
                    input {
                        margin-right: 5px;
                    }
                }
            }
            label {
                font-size: 12px;
                font-weight: bold;
                margin-bottom: 4px;
            }
            input {
                border-radius: 2px;
                background-color: #FCFCFC;
                border: 1px solid #D5D5D5;
                font-size: 14px;
                font-weight: 300;
                &.form-control {
                    color: #696969 !important;
                }
                &:focus {
                    border-color: $main-color;
                }
            }
            input[type='submit'] {
                background-color: $main-color;
                margin: 35px auto;
                border-radius: 3px;
                width: 70%;
                font-weight: 700;
                cursor: pointer;
                @media(max-width: 575px) {
                    width: 80%;
                }
            }
        }
        .forget-pass {
            text-align: right;
            margin-top: -10px;
            a {
                color: #DE6868;
                font-family: Raleway;
                font-size: 13px;
                font-weight: 500;
                @extend .no-decoration;
            }
        }
    }
}


/* end login section */