<section class="faq">
  <div class="container">
    <h1>FAQ</h1>
    <div class="faq-content">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#all" role="tab" aria-controls="all">All</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#account" role="tab" aria-controls="account">Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#feed" role="tab" aria-controls="feed">Feed</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#relationships" role="tab" aria-controls="relationships">Relationships and users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#billing" role="tab" aria-controls="billing">Billing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#subscription" role="tab" aria-controls="subscription">Subscription</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade show active" id="all" role="tabpanel">
          <div class="faq-question-answer">
            <p class="question">
              <i class="fa fa-caret-down" aria-hidden="true"></i>
              <i class="fa fa-caret-up" aria-hidden="true"></i>
              <span>How many Instagram accounts I can add to my AgoraMonitor account?</span>
            </p>
            <p class="answer">
              <span>You can add up to 6 different accounts.</span>
            </p>
          </div>
          <div class="faq-question-answer">
            <p class="question">
              <i class="fa fa-caret-down" aria-hidden="true"></i>
              <i class="fa fa-caret-up" aria-hidden="true"></i>
              <span>Can I change my default account?</span>
            </p>
            <p class="answer">
              <span>Yes, you can, from the ‘Manage Accounts’ tab you will be able to set any of your accounts as default.</span>
            </p>
          </div>
          <div class="faq-question-answer">
            <p class="question">
              <i class="fa fa-caret-down" aria-hidden="true"></i>
              <i class="fa fa-caret-up" aria-hidden="true"></i>
              <span>What Instagram content I can search on AgoraMonitor?</span>
            </p>
            <p class="answer">
              <span>
                Currently, you can search Instagram users and hashtags. Soon you will be able to search Instagram posts in specific location.</span>
            </p>
          </div>
        </div>
        <div class="tab-pane fade" id="account" role="tabpanel">
          profile
        </div>
        <div class="tab-pane fade" id="feed" role="tabpanel">
          messages
        </div>
        <div class="tab-pane fade" id="relationships" role="tabpanel">
          relationships
        </div>
        <div class="tab-pane fade" id="billing" role="tabpanel">
          billing
        </div>
        <div class="tab-pane fade" id="subscription" role="tabpanel">
          subscription
        </div>
      </div>
    </div>
    <!-- end faq-content -->
  </div>
  <!-- end container -->
</section>