<!-- start terms section -->
<section class="terms">
  <div class="container">
    <h1>Terms of Service</h1>
    <div class="terms-content">
      <p>
        By accessing this web site, you are agreeing to be bound by these web site Terms and Conditions of Use, all applicable laws
        and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not
        agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this
        web site are protected by applicable copyright and trade mark law.
      </p>
      <div class="terms-section">
        <h5>1. Use of Services:</h5>
        <p>
          In order to use the AgoraMonitor Website, you must be the age of majority in your jurisdiction and fully able and competent
          to enter into the terms, conditions, obligations, affirmations, representations and warranties set forth in these
          Terms and to abide by and comply with these Terms. You represent that you meet the eligibility requirements in
          this Section. In any case, you affirm that you are over the age of 18, as the AgoraMonitor Website is not intended
          for children under 18. You are responsible for the confidentiality of your account information and for all activities
          that occur under your account. You are solely responsible for all content within your account. AgoraMonitor will
          not be liable for any loss or damage as a result of your failure to keep your account secure.
        </p>
      </div>
      <!-- end terms-section -->
      <div class="terms-section">
        <h5>2. Invoicing And Payment:</h5>
        <p>
          You agree that AgoraMonitor shall be permitted to charge your credit card on a monthly, annual, or other agreed upon basis
          in advance of providing services. Payment is due upon invoicing. Service may be interrupted on accounts that reach
          5 days past due. You are aware that AgoraMonitor may prospectively change the specified rates and charges from
          time to time. AgoraMonitor is not responsible for any additional bank fees, interest charges, finance charges,
          over draft charges, or other fees resulting from charges billed by AgoraMonitor. Currency exchange settlements
          will be based on agreements between you and the provider of your credit card. Pro-rated credits will not be issued
          for unused services when customer retains any active service.
        </p>
      </div>
      <!-- end terms-section -->
      <div class="terms-section">
        <h5>3. Disclaimer</h5>
        <p>
          The materials on AgoraMonitor 's web site are provided "as is". AgoraMonitor makes no warranties, expressed or implied, and
          hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions
          of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation
          of rights. Further, AgoraMonitor does not warrant or make any representations concerning the accuracy, likely results,
          or reliability of the use of the materials on its Internet web site or otherwise relating to such materials or
          on any sites linked to this site.
        </p>
      </div>
      <!-- end terms-section -->
    </div>
    <!-- end terms-content -->
  </div>
  <!-- end container -->
</section>
<!-- end terms section -->