<!-- start page-content section -->
<section class="page-content collapsed">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 no-padding">
        <div class="content">
          <div class="profile-details">
            <div class="feed-header">
              <div class="row">
                <div class="col-7">
                  <label>Feeds:</label>
                  <h3>My feed name</h3>
                </div>
                <div class="col-5" style="text-align:right">
                  <button class="agorio-btn" [routerLink]="['/dashboard/manage-feeds']" [routerLinkActive]="['active']">
                    <img src="../../../../assets/admin-images/icon-pencil.svg" alt="Agora Monitor"> Manage
                  </button>
                </div>
              </div>
            </div>
            <!-- end feed-header -->
            <div class="controls">
              <div class="row">
                <div class="col-xl-7 col-lg-6 col-md-5 col-12">
                  <div class="profile-details-filters">
                    <button class="agorio-btn show toggle-filters">
                      <img src="../../../../assets/admin-images/filter.svg" alt="Agora Monitor"> Show Filters
                    </button>
                    <div class="filters-area">
                      <div class="filters-box">
                        <button class="agorio-btn hide toggle-filters">
                          <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                      </div>
                      <div class="filters-search filters-box">
                        <label>
                          <img src="../../../../assets/admin-images/search.svg" alt="Agora Monitor"> Search:
                        </label>
                        <input type="text">
                      </div>
                      <div class="filters-numbers filters-box">
                        <label>
                          <img src="../../../../assets/admin-images/icon-likes.svg" alt="Agora Monitor"> than:
                        </label>
                        <input type="number">
                      </div>
                      <div class="filters-numbers filters-box">
                        <label>
                          <img src="../../../../assets/admin-images/icon-likes.svg" alt="Agora Monitor"> than:
                        </label>
                        <input type="number">
                      </div>
                      <div class="filters-numbers filters-box">
                        <label>
                          <img src="../../../../assets/admin-images/icon-comments.svg" alt="Agora Monitor"> than:
                        </label>
                        <input type="number">
                      </div>
                      <div class="filters-numbers filters-box">
                        <label>
                          <img src="../../../../assets/admin-images/icon-comments.svg" alt="Agora Monitor"> than:
                        </label>
                        <input type="number">
                      </div>
                    </div>
                    <!-- end filters-area -->
                  </div>
                  <!-- end profile-details-filters -->
                </div>
                <div class="col-xl-5 col-lg-6 col-md-7 hidden-sm-down">
                  <div class="profile-details-settings">
                    <div class="row">
                      <div class="col-sm-9">
                        <div class="sort-by filter-settings">
                          <label class="text">Sort posts by:</label>
                          <label class="">
                            <input id="filter-by-likes" name="Sort-by" type="radio">
                            <span class="custom-control-description">Likes</span>
                          </label>
                          <label class="">
                            <input id="filter-by-comments" name="Sort-by" type="radio" class="" checked>
                            <span class="custom-control-description">Comments</span>
                          </label>
                          <label class="">
                            <input id="asc-order" name="order-by" type="radio" class="">
                            <span class="custom-control-description">Asc.</span>
                          </label>
                          <label class="">
                            <input id="desc-order" name="order-by" type="radio" class="">
                            <span class="custom-control-description">Desc.</span>
                          </label>
                        </div>
                      </div>
                      <div class="col-sm-3 no-padding">
                        <div class="show-as filter-settings">
                          <label class="text">Show posts as:</label>
                          <label class="Show-posts" for="Show-posts-inline">
                            <input id="Show-posts-inline" name="Show-posts" type="radio" checked>
                            <i class="fa fa-th-large" aria-hidden="true"></i>
                          </label>
                          <label class="Show-posts" for="Show-posts-block">
                            <input id="Show-posts-block" name="Show-posts" type="radio" class="">
                            <i class="fa fa-align-justify" aria-hidden="true"></i>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- end profile-details-settings -->
                </div>
              </div>
            </div>
            <!-- end controls -->
            <div class="posts-details">
              <div class="row">
                <div class="col-sm-12">
                  <div class="posts">
                    <div class="row">
                      <div class="col-xl-3 col-md-4 col-sm-6 col-12" *ngFor="let post of posts">
                        <div class="post card">
                          <a data-fancybox="dashboard-posts" [attr.data-src]="'#'+post.id" href="javascript:;" href="../../../../assets/admin-images/Mercedes-Benz_Vision-Tokyo.jpg">
                            <div class="post-block">
                              <div class="post-block-hover-overlay">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                              </div>
                              <img class="card-img-top" src="{{post.images.low_resolution.url}}" alt="Card image cap">
                              <div class="overlay">
                                <img src="{{post.user.profile_picture}}" alt="Agora Monitor">
                                <span>@{{post.user.username}}, {{post.diff_humans_time}}</span>
                              </div>
                            </div>
                          </a>
                          <div class="card-footer">
                            <small class="text-muted">
                              <img src="../../../../assets/admin-images/icon-likes.svg" alt="Agora Monitor"> {{post.likes.count}}
                              <img src="../../../../assets/admin-images/icon-comments.svg" class="comments" alt="Agora Monitor"> {{post.comments.count}}
                            </small>
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                          </div>
                        </div>
                        <!-- end post -->
                        <!-- start modal media for this object -->
                        <div class="media-modal-wrapper" style="display: none;" id="{{post.id}}">
                          <div class="media-modal-container">
                            <div class="contaniner-fluid">
                              <div class="row">
                                <div class="col-sm-6">
                                  <div class="media-modal-image-panel">
                                    <div class="media-modal-image-panel-heading">
                                      <img class="user-img" src="{{post.user.profile_picture}}" alt="Agora Monitor">
                                      <label>
                                        <span class="username">@{{post.user.nickname}}, </span>
                                        <span>{{post.diff_humans_time}}</span>
                                      </label>
                                      <div class="comments-likes-stats">
                                        <img src="../../../../assets/admin-images/icon-likes.svg" alt="Agora Monitor">
                                        <span>{{post.likes.count}}</span>
                                        <img src="../../../../assets/admin-images/icon-comments.svg" alt="Agora Monitor">
                                        <span>{{post.comments.count}}</span>
                                      </div>
                                    </div>
                                    <div class="media-modal-image-panel-body">
                                      <img src="{{post.images.standard_resolution.url}}" alt="Agora Monitor">
                                    </div>
                                  </div>
                                </div>
                                <div class="col-sm-6">
                                  <div class="media-modal-caption-comments-panel">
                                    <div class="media-modal-caption">
                                      <h6 class="modal-heading">Caption:</h6>
                                      <p class="modal-paragraph">
                                        {{post.caption}}
                                      </p>
                                      <div class="tags">
                                        <span>#{{post.tags}}</span>
                                      </div>
                                    </div>
                                    <div class="media-modal-comments">
                                      <h6 class="modal-heading">Comments:</h6>
                                      <ul class="list-unstyled">
                                        <li class="media">
                                          <img class="d-flex mr-3 user-img" src="../../../../assets/admin-images/bitmap.jpg" alt="Agora Monitor">
                                          <div class="media-body">
                                            <div class="username-comment">
                                              <h5 class="mt-0 mb-1">kaupo_saarmann</h5>
                                              <p class="modal-paragraph">Pressure is where amazing happens</p>
                                            </div>
                                            <div class="comment-time-reply">
                                              <label>4 hours ago</label>
                                              <img src="../../../../assets/admin-images/icon-reply.svg" alt="Agora Monitor">
                                            </div>
                                          </div>
                                        </li>
                                        <li class="media">
                                          <img class="d-flex mr-3 user-img" src="../../../../assets/admin-images/bitmap.jpg" alt="Agora Monitor">
                                          <div class="media-body">
                                            <div class="username-comment">
                                              <h5 class="mt-0 mb-1">kaupo_saarmann</h5>
                                              <p class="modal-paragraph">The power of social media connecting with customers is key👌🏻</p>
                                            </div>
                                            <div class="comment-time-reply">
                                              <label>7 hours ago</label>
                                              <img src="../../../../assets/admin-images/icon-reply.svg" alt="Agora Monitor">
                                            </div>
                                          </div>
                                        </li>
                                      </ul>
                                    </div>
                                    <!-- end media-modal-comments -->
                                    <div class="media-modal-typing-area">
                                      <input type="text" placeholder="Enter your comment...">
                                      <img src="../../../../assets/admin-images/icon-send.svg" alt="Agora Monitor">
                                    </div>
                                    <!-- end media-modal-typing-area -->
                                  </div>
                                  <!-- end media-modal-caption-comments-panel -->
                                </div>
                              </div>
                            </div>
                            <!-- end container-fluid -->
                          </div>
                          <!-- end media-modal-container -->
                        </div>
                        <!-- end media-modal-wrapper -->
                      </div>
                    </div>
                  </div>
                  <!-- end posts -->
                </div>
              </div>
            </div>
            <!-- end posts-details -->
          </div>
          <!-- end profile-details -->
        </div>
        <!-- end content -->
      </div>
    </div>
  </div>
</section>