<!-- start mobile-nav -->
<nav class="mobile-nav hidden-lg-up">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 col-sm-9 col-8">
        <div class="logo-menu">
          <img class="logo" src="../../../../assets/admin-images/logo.png" alt="Agora Monitor">
          <img class="mobile-menu" src="../../../../assets/admin-images/icon-nav-mobile.svg" alt="Agora Monitor">
        </div>
        <!-- end logo -->
      </div>
      <div class="col-md-2 col-sm-3 col-4">
        <div class="profile-area mobile-v">
          <div class="dropdown">
            <a class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="avatar">
                <img src="../../../../assets/admin-images/bitmap.jpg" alt="Agora Monitor">
              </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
              <ul class="list-unstyled accounts">
                <li>
                  <a class="dropdown-item" href="#">
                    <img src="../../../../assets/admin-images/bitmap.jpg" alt="Agora Monitor">
                    <span>@tom_hopkins</span>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">
                    <img src="../../../../assets/admin-images/bitmap.jpg" alt="Agora Monitor">
                    <span>@sarah_johnson</span>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">
                    <img src="../../../../assets/admin-images/bitmap.jpg" alt="Agora Monitor">
                    <span>@tom_hopkins</span>
                  </a>
                </li>
              </ul>
              <ul class="list-unstyled app-setting">
                <li>
                  <a class="dropdown-item" href="#">
                    <img src="../../../../assets/admin-images/icon-account.svg" alt="Agora Monitor">
                    <span class="menu-label">Manage Accounts</span>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">
                    <img src="../../../../assets/admin-images/icon-settings.svg" alt="Agora Monitor">
                    <span class="menu-label">Settings</span>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">
                    <img src="../../../../assets/admin-images/icon-support.svg" alt="Agora Monitor">
                    <span class="menu-label">Support</span>
                  </a>
                </li>
              </ul>
              <!-- end app-setting -->
              <ul class="list-unstyled app-privacy">
                <li>
                  <a class="dropdown-item" href="#">
                    <img src="../../../../assets/admin-images/icon-pass.svg" alt="Agora Monitor">
                    <span class="menu-label">Change password</span>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">
                    <img src="../../../../assets/admin-images/icon-logout.svg" alt="Agora Monitor">
                    <span class="menu-label" style="color:#de6868">Log out</span>
                  </a>
                </li>
              </ul>
              <!-- end app-privacy -->
            </div>
            <!-- end dropdown-menu -->
          </div>
          <!-- end dropdown -->
        </div>
        <!-- end profile-area -->
      </div>
    </div>
    <div class="search-menu-section">
      <div class="row">
        <div class="col-12 no-padding">
          <div class="searching-area mobile-v">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input type="text" name="" placeholder="Search...">
            <button>
              <img class="i-icon" src="../../../../assets/admin-images/icon-info.svg" alt="Agora Monitor">
              <b>
                UPGRADE
                <br>
                <span>4 days of trial left</span>
              </b>
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 no-padding">
          <div class="sidebar mobile-sidebar">
            <div class="list has-child">
              <h5>
                <img src="../../../../assets/admin-images/nav-profile.png" alt="Agora Monitor">
                <span class="mobile-v">PROFILE</span>
                <i class="fa fa-caret-right" aria-hidden="true"></i>
                <i class="fa fa-caret-down" aria-hidden="true"></i>
              </h5>
              <ul class="list-unstyled mobile-v">
                <li>
                  <a href="" class="active">My posts</a>
                </li>
                <li>
                  <a href="">My Likes</a>
                </li>
                <li>
                  <a href="">Followers</a>
                </li>
                <li>
                  <a href="">Followings</a>
                </li>
              </ul>
            </div>
            <!-- end list -->
            <div class="list">
              <h5>
                <img src="../../../../assets/admin-images/nav-dash.svg" alt="Agora Monitor">
                <span class="mobile-v">FEEDS</span>
                <i class="fa fa-caret-right" aria-hidden="true"></i>
                <i class="fa fa-caret-down" aria-hidden="true"></i>
              </h5>
              <ul class="list-unstyled mobile-v">
                <li>
                  <a href="" class="active">Feed #1</a>
                </li>
                <li>
                  <a href="">Manage feeds</a>
                </li>
                <li class="has-child">
                  <span class="sub-menu-title">Hashtags</span>
                  <ul class="list-unstyled">
                    <li>
                      <a href="">overview</a>
                    </li>
                    <li>
                      <a href="">#hashtag1</a>
                    </li>
                    <li>
                      <a href="">#hashtag2</a>
                    </li>
                  </ul>

                </li>
              </ul>
            </div>
            <!-- end list -->
          </div>
          <!-- end sidebar -->
        </div>
      </div>
    </div>
    <!-- end search-menu-section -->
  </div>
</nav>
<!-- end mobile-nav -->