<footer *ngIf="!inDashboard">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <ul class="list-unstyled">
          <li>
            <b>AgoraMonitor</b>
          </li>
          <li>Streetname 111,</li>
          <li>City, Country, ZIP</li>
        </ul>
      </div>
      <div class="col-sm-6">
        <ul class="list-unstyled navigation nav-links">
          <li>
            <a href="blog.agoramonitor.com/" target="_blank">Blog</a>
          </li>
          <li>
            <a routerLink="/pricing">Pricing</a>
          </li>
          <li>
            <a routerLink="/faq">FAQ</a>
          </li>
          <li>
            <a routerLink="/contact">Contact Us</a>
          </li>
          <li>
            <a routerLink="/terms">Terms of service</a>
          </li>
          <li>
            <a routerLink="/privacy">Privacy Policy </a>
          </li>
        </ul>
        <ul class="list-unstyled navigation">
          <li>
            <a href="">
              <img src="../../../../assets/images/facebook.svg" alt="Agora Monitor">
            </a>
          </li>
          <li>
            <a href="">
              <img src="../../../../assets/images/instagram.svg" alt="Agora Monitor">
            </a>
          </li>
          <li>
            <a href="">
              <img src="../../../../assets/images/twitter.svg" alt="Agora Monitor">
            </a>
          </li>
          <li>
            <a href="">
              <img src="../../../../assets/images/LinkedIn.svg" alt="Agora Monitor">
            </a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3">
        <div class="copy-right">
          <span>© 2017 AgoraMonitor</span>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- end footer section -->